
 .mui-content{
 	-webkit-overflow-scrolling:touch;
 	background-color:#efeff4
 }
 .mui-bar-nav~.mui-content{padding-top:69px}
 .mui-bar{
 	position:fixed;
 	right:0;
 	left:0;
 	z-index:10;
 	height:79px;
 	background-color:rgba(247,247,247,.98);
 	border-bottom:0;
 	-webkit-box-shadow:0 0 1px rgba(0,0,0,.85);
 	box-shadow:0 0 1px rgba(0,0,0,.85);
 	-webkit-backface-visibility:hidden;
 	backface-visibility:hidden
 }
 .mui-bar .mui-title{
 	width:100%;
 	margin:0;
 	overflow:hidden;
 }
 .mui-title{
 	position:absolute;
 	display:block;
 	width:100%;
 	padding:0;
 	margin:0;
 	color:#000;
 	text-align:center;
 	white-space:nowrap
 }
 
  .mui-table-view-cell{
  	position:relative;
  	overflow:hidden;
  	/*-webkit-touch-callout:none;*/
  	background-color:#FEFEFE;
  	margin:20px 0px 0px 0px;
  	height:110px;
  	border-radius: 10px; /*圆角*/ 
  	padding:5px;
  	
  }



dropdown{
   float:left;
   width:33.333%;
}

dropdown label{
	width: 100%;
	display: block;
  	background: #fff;
  	padding: 7px;
  	color: #333;
  	border: 1px solid rgba(247,247,247,.98);
 	border-radius: 0 0px 0 0; 
  	position: relative;
  	z-index: 2;
  	border: 1px solid #e6e8ea;
}

dropdown ul li{
  display: block;
  width: 100%;
  background: #FFF;
  padding: 7px;
  border-bottom: 1px solid #e6e8ea;
  
}


dropdown input{
  display: none;
}
dropdown input ~ ul{
  position: relative;
  display : none;
  z-index: 1;
}


.hosname{
	float:left;
	/*background-color:green;*/
	padding:5px 0px 0px 0px; /*上内边距  右内边距  下内边距  左内边距*/
	height:110px;
	line-height:23px;
	font-size:14px;
	
}

.imgdiv{
	float:left;
	width:100px;
	height:100px;
	padding:8px;
}

.imgs{
	border:1px solid rgba(217,217,217,0.7);
	border-radius: 12px; 
	width:100%;
	height:100%;
	padding:2px;
	
}


#arrow{
	float:left;
	margin:12px 0px 0px 5px;
	font-size:30px;
	font-weight:500;
	color:#4099df;
	width:40px;
	height:25px;
	line-height:19px;
}

#retMap{
	float:right;
	border-radius:4px;
	width:60px;
	height:28px;
	margin:8px 20px 0px 2px;
	border:1px solid lightgray;
	padding:3px;
}

#mapword{
	
	float:right;padding-top:2px;color:#4099df;font-size:15px;
}

#mapIcon{
	float:right;padding:2px;
	background-repeat:no-repeat; 
	background-size:100% 100%;
	width:20px;
	height:20px;
}
